body{
    background-color: antiquewhite;
}

.col-4{
    background-color:white;

}

input{
    background-color: #e4e1e1;
    font-size: 24PX;
}

textarea{
    background-color: #e4e1e1;
    font-size: 23PX;
}
/* .container{
    background-image: url('image/VVV2.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

.span{
    padding: 80px;
}


.container{
    padding: 8%;
    margin-left: 24%;
}